.container-login-page{
  display:flex;
  align-items: center;
}

.login-img-page{
  object-fit: center;
  clip-path: polygon(0 0, 100% 0, 73% 100%, 0% 100%);
  height: 100vh;
  width: 100%;
}

.container-login-img-page{
  width: 69%;
}
.login-form-page > form > *{
  margin-top:2rem
}

.login-btn {
  width:100%;
}

.top-form-login-page{
  display:flex;
  align-items:center;
  flex-direction:column;
  margin-right: 8rem;
}

.top-form-login-page > * {
  padding-bottom: 2rem;
}

.top-form-login-page > p {
  font-size:18px
}
.top-form-login-continue{
  font-weight: bold;
  opacity: 0.5;
}