 .rental-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
    align-items: center;
    
    
}
.container{
    
    text-align: center;
    height: 420px;
    width: 25%;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow:0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    
}