.table-div{
  margin: 1rem;
  border: 1px   solid rgba(224, 224, 224, 1);
}

.table-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.table-title h3{
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 400;
}